@model IEnumerable<Softserve.ProjectLab.ClientAPI.Models.WorkOrder>

@{
    ViewData["Title"] = "List";
}

<h1>Work Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a class="btn btn-secondary ml-2" href="/api/WorkOrder/export-csv">Export to CSV</a>
</p>

<div class="container">

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Buscar Órdenes de Trabajo
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="form-row mb-3">
                        <div class="col">
                            <label for="startTime">Start Time</label>
                            <input type="datetime-local" class="form-control" id="startTime" />
                        </div>
                        <div class="col">
                            <label for="endTime">End Time</label>
                            <input type="datetime-local" class="form-control" id="endTime" />
                        </div>
                        <div class="col">
                            <label for="workType">Work Type</label>
                            <input type="text" class="form-control" id="workType" />
                        </div>
                        <div class="col">
                            <label for="status">Status</label>
                            <input type="text" class="form-control" id="status" />
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary mt-4" id="searchButton">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height:70vh; overflow:auto;">
        <table class="table">
            <thead style="position:sticky; background-color: #f0f0f0; top: 0px; border:0px solid">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.WorkOrderName)</th>
                    <th>@Html.DisplayNameFor(model => model.TechnicianId)</th>
                    <th>@Html.DisplayNameFor(model => model.WorkTypeId)</th>
                    <th>@Html.DisplayNameFor(model => model.EndTime)</th>
                    <th>@Html.DisplayNameFor(model => model.StartTime)</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@Html.DisplayFor(modelItem => item.WorkOrderName)</th>
                        <th>@Html.DisplayFor(modelItem => item.TechnicianId)</th>
                        <th>@Html.DisplayFor(modelItem => item.WorkTypeId)</th>
                        <th>@Html.DisplayFor(modelItem => item.EndTime)</th>
                        <th>@Html.DisplayFor(modelItem => item.StartTime)</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchButton').click(function () {
                var startTime = $('#startTime').val();
                var endTime = $('#endTime').val();
                var workType = $('#workType').val();
                var status = $('#status').val();

                $.ajax({
                    url: '/api/WorkOrderDetails',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        startTime: startTime,
                        endTime: endTime,
                        workType: workType,
                        status: status
                    },
                    success: function (data) {
                        console.log(data);
                        // Asegurarse de que la tabla se vacíe antes de agregar nuevos datos
                        var tbody = $('table tbody');
                        tbody.empty();

                        // Iterar sobre cada 'workOrder' y agregar los datos a la tabla
                        data.forEach(function (workOrder) {
                            var row = `<tr>
                               <td>${workOrder.workOrderName}</td>
                               <td>${workOrder.technician}</td>
                               <td>${workOrder.workType}</td>
                               <td>${workOrder.endTime ? workOrder.endTime : 'N/A'}</td>
                               <td>${workOrder.startTime ? workOrder.startTime : 'N/A'}</td>
                           </tr>`;
                            tbody.append(row);
                        });
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
}
